@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
body{
    font-family:Arial, Helvetica, sans-serif
}
.userName{
    display: flex;
    flex-direction: row;
    gap:3px;
    background-color: rgb(37,99,235);
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    transition: background-color 0.2s;
}
.userName img{
    width: 20px;
    height: 20px;
    margin-block-start: 0.9rem;
    filter:invert(1);
}
.userName p{
    white-space: nowrap;
}
.logout{
    display: flex;
    flex-direction: row;
    gap:3px;
    background-color: rgb(37,99,235);
    border-radius: 0 5px 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.2s;
}
.logout img{
    width: 20px;
    height: 20px;
    margin-block-start: 0.9rem;
    filter:invert(1);
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 3rem;
    width: 14rem;
    color:white;
    margin-top:1rem;
}

.userName:hover, .logout:hover{
    background-color: rgb(29,78,216);
    cursor: pointer;
}

.page_header{
    display: flex;
    position: relative;
    flex-direction: row;
}
.logo{
    width: 70px;
    height: 70px;
}
h1{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}